ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left ;
}

li a {
    display: block;
    color: #50545b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

h1{
	color: #2b3442;
}

div{
	background-color: white;
	opacity: 0.6;
   	filter: alpha(opacity=60);
}